.accordion-wrap {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.accordion-wrap input[type=checkbox] {
  display: none;
}

.accordion-wrap label {
  border: solid 1px #ccc;
  display: block;
  padding: 10px;
  margin-top: -1px;
}

.accordion-wrap label:hover {
  cursor: pointer;
  color: #000;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  padding-left: 10px;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.accordion-wrap input[type=checkbox]:checked ~ .accordion-content {
  max-height: 500px;
  -webkit-transition: all 2.5s linear;
  -moz-transition: all 2.5s linear;
  -ms-transition: all 2.5s linear;
  -o-transition: all 2.5s linear;
  transition: all 2.5s linear;
}

.accordion-wrap input[type=checkbox]:checked ~ label {
  background: #ddd;
}
#accordion-one {
  
}
